html, body {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    justify-content: center;
    max-width: 500px;
}

header {
    display: flex;
    justify-content: space-around;
    background: #1F2937;
    padding: 1em;
}

header > input {
    height: 35px;
}

header > select {
    padding: 0.3em;
    color: #D1D5DB;
    background: #1F293A;
    width: 55%;
}

header > button {
    border-radius: 5px;
    border: 0;
    padding: 0.8em;
    color: white;
    background: #3D4B60;
    font-size: 0.8rem;
}