html, body {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    justify-content: center;
    max-width: 500px;
}

header {
    display: flex;
    min-height: 8vh;
    justify-content: space-around;
    background: #1F2937;
    padding: 1em;
}

header > input {
    height: 35px;
    margin: auto 0;
    cursor: pointer;
}

header > select {
    padding: 0.3em;
    color: #D1D5DB;
    background: #1F293A;
    width: 55%;
    cursor: pointer;
}

header > button {
    border-radius: 5px;
    border: 0;
    padding: 0.8em;
    color: white;
    background: #3D4B60;
    font-size: 0.8rem;
    cursor: pointer;
}

section {
    display: grid;
    min-height: 60vh;
    border: 1px solid black;
}

section > div {
    grid-row: 1;
}

footer {
    display: grid;
    background: #1F2937;
}

footer > div {
    grid-row: 1;
    text-align: center;
    padding: 1em;
    color: #D5D4D8;
}

.color {
    min-height: 60vH
}